<section class="category-section section-pad">
    <div class="container">
        <div class="section-title text-warning ">
            <h2>Our Course Categories</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.
            </p>
        </div>

        <div class="row">
            <app-category-item class="col-lg-4 col-md-6"></app-category-item>
            <app-category-item class="col-lg-4 col-md-6"></app-category-item>
            <app-category-item class="col-lg-4 col-md-6"></app-category-item>
            <app-category-item class="col-lg-4 col-md-6"></app-category-item>
            <app-category-item class="col-lg-4 col-md-6"></app-category-item>
            <app-category-item class="col-lg-4 col-md-6"></app-category-item>
        </div>
    </div>
</section>