.category-item {
    margin-bottom: 34px;
    background: #edf4f6;
    transition: all 0.4s;
}

.category-item:hover {
    background: #d82a4e;
}

.category-item .ci-thumb {
    background-image: url("/assets/Images/1.jpg");
    background-size: cover;
    height: 148px;
    transition: all 0.2s;
    background-repeat: no-repeat;
    background-position: top center;
}

.category-item .ci-text {
    padding: 40px 35px;
}

.category-item .ci-text span {
    font-size: 18px;
    font-weight: 600;
    color: #d82a4e;
}